.container-text {
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: var(--color-texto);
  }
  
  .wrappertwo.texttwo {
    font-size: 10rem;
    word-spacing: .2em;
    line-height: 1;
    font-weight: 900;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    color: var(--color-amarillo);
  }
  
  
  @media (max-width: 450px) {
    .container-text {
      height: 20vh;
      max-width:430px;
    }
    .wrappertwo.texttwo {
      font-size: 2rem;
      max-width: 400px;
    }
  }