.container-text {
    overflow: hidden;
    height: 200vh;
    display: flex;
    align-items: center;
    background-color: var(--color-texto);
  }
  
  .wrappertwo.texttwo {
    font-size: 40rem;
    -webkit-text-stroke: 2px var(--color-texto);
    line-height: 1;
    font-weight: 900;
    white-space: nowrap;
    will-change: transform; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    color: var(--color-amarillo);
    height: 100%;
  }
  