.container-text {
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  .margin {
    margin-top: 300px;
  }
  
  .wrappertwo.texttwo {
    font-size: 10rem;
  
    z-index: 1000;
    word-spacing: .2em;
    line-height: 1;
    font-weight: 900;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    color: var(--color-texto);
  }
  
  
  @media (max-width: 450px) {
    .container-text {
      height: 5vh;
      max-width:430px;
    }
    .wrappertwo.texttwo {
      font-size: 2rem;
      max-width: 400px;
    }
    .margin {
      margin-top: 30px;
    }
  }