.demo-text-contact {
  position: relative;
    overflow: hidden;
    height: 200px;
    display: flex;
    align-items: center;
    height: 30vh;
  }
  
  .wrapper.text {
    font-size: clamp(3rem, 5vw, 18rem);
    line-height: 1;
    font-weight: 400;
    white-space: nowrap;
    will-change: transform; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    color: var(--color-texto);
    font-family: 'Clash Display', sans-serif;
  }

  @media (max-width: 450px) {
    .wrapper.text {
      max-width:400px;
    }
    .demo-text-contact {
      height: 10vh;
    }
  }