.header {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-size: contain;
  background-repeat: repeat;
  background-attachment: fixed;
}
.button_dialog {
  position: relative;
  z-index: 10000;
}

.container-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}


.header-titulo {
  margin-top: 11.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(15px);
  width: fit-content;
}

.header-titulo h3 {
  color: var(--color-segundario);
  font-size: 6rem;
  width: 100%;
  text-align: left;
}

@media (max-width: 1250px) {
  .header-titulo h3 {
    font-size: 2rem;
  }
}

.header-titulo h2 {
  color: var(--color-segundario);
  font-size: 6rem;
  text-align: left;
  width: 100%;
  margin-top: -2rem;
}

@media (max-width: 1250px) {
  .header-titulo h2 {
    margin-bottom: 1rem;
    line-height: 4.5rem;
    font-size: 3rem;
  }
}

.header-titulo__container {
  display: flex;
}

.header-titulo p {
  margin-top: 18px;
  font-size: 1.5rem;
  text-align: left;
  font-weight: 100;
  width: 550px;
}

.header-parrafo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  position: relative;
  height: 200px;
}

.header-parrafo p {
  position: absolute;
  top: 51%;
  text-align: left;
  right: 130px;
  color: var(--color-texto);
  font-size: 1.5rem;
  font-weight: 500;
}

@media (max-width: 450px) {
  .header-titulo__container  {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse !important;
    width: 400px;
  }
  .container-header {
    width: 400px;
  }
  .header-titulo p {
    width: 400px !important;
    text-align: center !important;
  }
  .header-parrafo {
    width: 400px !important;
  }
  .header-parrafo p {
    right: 30px;
    text-align: center;
  }
  .header-titulo h2, .header-titulo h3 {
    text-align: center;
  }
  .header-titulo h2 {
    margin-top: -12px;
  }
}