:root {
    --color-principal: #FB3516;
    --color-segundario: #011F50;
    --color-texto:#111111;
    --color-amarillo:#FFE5B6;
    --color-amarillo-rgba:#ffe5b6c7;
    --color-amarilo-rgba: #f8998a;
    --color-white: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Clash Display', sans-serif;
    cursor: none;
}

/* Estilo para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 10px; 
    height: 12px;
    text-decoration: dashed;
  }
  ::-webkit-scrollbar-track {
    background-color: var(--color-amarillo);
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--color-amarilo-rgba);
    border-radius: 10px;
    width: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-principal);
  }
  ::-webkit-scrollbar-horizontal {
    height: 12px;
  }
  
/* Estilos botones */
button {
    padding: 8px 15px !important;
    border: none !important;
    font-size: 1.2rem !important;
    font-weight: 500 !important;
    border-radius: 10px !important;
    cursor: pointer !important;
    color: var(--color-amarillo) !important;
    transition: .3s ease !important;
    text-transform: none !important;
    line-height: normal !important;
    font-family: 'Clash Display', sans-serif;
    background-color: var(--color-segundario) !important;
    &:hover {
        background-color: var(--color-principal) !important;
        color: var(--color-amarillo) !important;
      }
    }
    .button.btn_outline {
      display: flex;
      gap: 8px;
      border: 1px solid var(--color-amarillo) !important;
      padding: 8px 12px !important;
      border-radius: 8px !important;
      background-color: transparent !important;
      &:hover {
      color: var(--color-principal) !important;
      border: 1px solid var(--color-principal) !important;
      background-color: transparent !important;
    }
}
.contact__container-info-form button {
  padding: 12px !important;
  font-size: 24px !important;
}

.container-menu button {
  background-color: transparent !important;
}
a {
  font-family: 'Clash Display', sans-serif;;
}
@media (max-width: 450px) {
  .contact__container-info-form button {
    font-size: 14px !important;
    padding: 10px !important;
    width: 100px !important;
  }
}

@keyframes slideInBody {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}
body {
  height: 100vh;
  background-color: #111111;
  transition: background-color 0.3s ease;
}

.amarillocolor {
  height: 5vh;
}

/* Modales  */

.css-ub0h6r,
.css-ub0h6r * {
    cursor: auto !important;
}