.sobremi {
    position: relative;
    z-index: 200;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200vh;
    background-color: var(--color-amarillo);
}

.section {
    padding: 20px;
    transition: all 0.3s ease-in-out;
  }
  
  .fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  

.sobremi__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 80%;
    padding: 80px;
    opacity: 1;
}
.sobremi__container-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 730px;
    padding: 20px;
    border-bottom: 1px solid var(--color-texto);
}
.sobremi__container-info-icon {
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sobremi__container-info-icon img {
    width: 50px;
}
.sobremi__container-title {
    position: sticky;
    top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sobremi__container-title h2 {
    font-size: 100px;
    color: var(--color-texto);
    font-weight: 900;
}
.sobremi__container-title span {
    font-size: 100px;
    font-weight: 100;
    color: var(--color-texto);
}

.sobremi__container-items {
    display: flex;
    flex-direction: column;
}
.sobremi__container-info-description {
    flex: 1;
    font-size: 32px;
    max-width: 500px;
    border-left: 1px solid var(--color-texto);
    padding: 15px;
}
.sobremi__container-info-description h5 {
    font-size: 75px;
    font-weight: 400;
    line-height: normal;
}
.sobremi__container-info-description p {
    font-size: 42px;
    font-weight: 400;
    line-height: normal;
    color: var(--color-texto);
}
.sobremi__container-info-image {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%
}
.sobremi__container-info-image img {
    height: 442px;
    border-radius: 40px;
}

@media (max-width: 450px) {
    .sobremi {
        height: auto;
    }
    .sobremi__container {
        padding: 10px;
        opacity: 1;
        flex-direction: column;
        height: auto;
    }
    .sobremi__container-info {
        gap: 20px;
        max-width: 340px;
    }
    .sobremi__container-info-description p {
        font-size: 20px;
        text-align: center;
    }
    .sobremi__container-info-icon {
        width: auto;
    }
    .sobremi__container-info-description h5 {
        font-size: 32px;
    }
    .sobremi__container-info-description p {
        font-size: 16px;
        text-align: left;
    }
    .sobremi__container-title {
        position: relative;
        padding: 0 10px !important;
    }
}