.container-menu {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-texto);
    padding: 1rem;
    animation-name: slideInDown;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    position: relative;
    z-index: 1000;
    position: sticky;
    padding: 1rem 80px;
}
@media (max-width: 450px) {
    .container-menu {
        justify-content: space-around;
        width: auto;
        padding: 0;
    }
}
.isotipo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: relative;
    width: 130px;
}
.image-container {
    flex: 1;
}
.image-container img {
    height: 55px;
}
.button button {
    padding: 9px 12px;
    font-size: 1rem;
}

.button__hv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

@media (max-width: 1250px) {
    .image-container img {
        height: 3rem;
    }
}

.menu a {
    text-decoration: none;
    color: var(--color-amarillo);
    font-size: 1.2rem;
    font-weight: 400;
    transition: .3s ease;
    font-family: 'Clash Display', sans-serif;
    cursor: pointer;
    border: 1px solid var(--color-amarillo);
    padding: 8px 12px;
    border-radius: 8px;
    &:hover {
        border: 1px solid var(--color-principal);
    }
}
.menu a:hover {
    color: var(--color-principal);
}
.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    list-style-type: none;
    
}
@media (max-width: 1250px) {
    .menu ul {
        display: none;
    }
  }

.menu li {
    padding: 0 68px;
    position: relative;
}
