.contact {
    display: flex;
    height: 90vh;
    background-color: var(--color-amarillo);
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
}
.contact__container {
    background-color: var(--color-amarillo);
    padding: 5px 100px 20px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.contact__container-slider {
    height: 10%;
    display: flex;
    align-items: center;
}
.contact__container-slider span {
    font-size: 64px;
    color: var(--color-segundario);
}
.contact__container-info{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
}
.contact__container-info-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact__container-info-image img {
    width: 400px;
}
.contact__container-info-form  {
    width: 50%;
    padding-left: 40px;
}
.contact__container-info-form form {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.contact__container-info-form input, textarea {
    background-color: transparent;
    width: 100%;
    border: none ;
    border-bottom: 1px solid var(--color-texto);
    min-height: 60px;
    margin-bottom: 16px;
    font-size: 72px;
    &::placeholder {
        color: var(--color-texto);
        font-weight: 400;
    }
    &:focus {
        outline: none;
    }
}
.contact__container-info-form button {
    background-color: var(--color-principal);  
    font-size: 32px;  
    padding: 16px 10px;
    border-radius: 10px;
    width: 270px;
    margin-top: 24px;
    cursor: pointer;
    transition: .2s ease;
    &:hover {
        background-color: var(--color-segundario);
        color: var(--color-amarillo);
        transform: translateY(-3px);
    }
}
.contact__container-social {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.contact__container-social-links {
    display: flex;
    gap: 16px;
}
.contact__container-social-links a{
    font-size: 32px;
    text-decoration: none;
    color: var(--color-segundario);
    transition: .5s ease;
    &:hover {
        transform: translateY(-3px);
        color: var(--color-principal);
    }
}
.contact__container-mobil {
    width: 100%;
    overflow: hidden;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 450px) { 
    .contact {
        height: auto;
    }
    .contact__container {
        padding: 20px 10px;
    }
    .contact__container-info {
        flex-direction: column;
        gap: 30px;
        height: 100%;
    }
    .contact__container-info-form {
        width: 100%;
    }
    .contact__container-info-form input, textarea {
        font-size: 20px;
        min-height: 48px;
    }
    .contact__container-info-image {
        width: 100%;
    }
    .contact__container-info-image img {
        width: 90%;
    }
    .contact__container-social {
        padding: 10px;
    }
    .contact__container-social-links a {
        font-size: 18px;
    }
}
