.skills {
    position: relative;
    z-index: 200;
    background-color: var(--color-amarillo);
}
.containers__skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 80px 0;
}
.container__skills-info {
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: row;
}
@media (max-width: 450px) {
    .container__skills-info {
        flex-direction: column;
    }
    .containers__skills {
        padding: 20px;
    }
}
.container__skills-info-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}
.container__skills-info-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.container__skills-info-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: var(--color-texto);
    transition: width 0.5s ease;
}

.container__skills-info-item:hover::after {
    width: 100%; /* Expande el borde de izquierda a derecha */
}

.container__skills-info-item-span {
    text-align: center;
    font-size: 80px;
    font-weight: 500;
    transition: .5s ease;
    color: var(--color-texto);
    z-index: 1000;
}
.container__skills-info-item:hover .container__skills-info-item-span {
    transform: translateX(-8px);
    color: var(--color-principal);
    font-weight: 100;
}

.container__skills-info-item:hover .container__skills-info-item-image {
    opacity: 1; /* Cambia la opacidad */
    visibility: visible; /* Asegura que sea visible */
}

.container__skills-info-item-image {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 2%;
    opacity: 0; /* Inicialmente invisible */
    visibility: hidden; /* Inicialmente no visible */
    transition: opacity 0.3s ease-in, visibility 0.3s ease-in; /* Aplica la transición */
    z-index: 100;
    border-radius: 20px;
}
.two {
    left: 88%;
}
@media (max-width: 1250px) {
    .skills {
        height: auto;
    }
    .container__skills-info-item span {
        font-size: 28px;
        text-align: left;
    }
    .container__skills-info-image img{
        display: none;
    }
    .container__skills-info-item {
        justify-content: flex-start;
    }
}