.skills {
    position: relative;
    z-index: 200;
}
.containers__skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 80px 0;
}
.container__skills-info {
    height: 90%;
    width:80%;
    display: flex;
    background-color: black;
    border-radius: 3rem;
    padding: 2rem;
}

.container__skills-info-video {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para las imágenes del video */
.container__skills-info-video-item {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2rem;


}

.container__skills-info-video-image {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.container__skills-info-video-image.active {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 450px) {
    .container__skills-info {
        flex-direction: column;
    }
    .containers__skills {
        padding: 20px;
        height: 50vh;
    }
    .container__skills-info-video {
        display: none; /* Oculta el video en móvil */
    }
}
.container__skills-info-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 50%;
}
.container__skills-info-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.container__skills-info-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: var(--color-principal);
    transition: width 0.5s ease;
}

.container__skills-info-item:hover::after {
    width: 100%; /* Expande el borde de izquierda a derecha */
}

.container__skills-info-item-span {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    transition: .5s ease;
    color: var(--color-white);
    z-index: 1000;
    position: relative;
}

.container__skills-info-item:hover .container__skills-info-item-span {
    transform: translateX(-8px);
    color: var(--color-white);
    font-weight: 100;
}

.container__skills-info-item:hover .container__skills-info-item-image {
    opacity: 1;
    visibility: visible;
}

.container__skills-info-item-image {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 2%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
    z-index: 100;
    border-radius: 20px;
}
.two {
    left: 88%;
}
@media (max-width: 450px) {
    .skills {
        height: auto;
    }
    .container__skills-info-item span {
        font-size: 37px;
        text-align: center;
    }
    .container__skills-info-image img{
        display: none;
    }
    .container__skills-info-item {
        justify-content: center;
    }
    .container__skills-info-item-image {
        display: none;
    }
}